.block-page-title-block {
  display:none;
}
.w-100 {
  background-color: #337898;
  /*background-color: #FFF;*/
  color:black;
  color:white;
}
.w-100 .layout__region {  
  padding-top:1.5rem;
  padding-bottom:1.5rem;

}
.container.layout.layout--onecol {
    padding-top: 2rem;
}
.region-content {
    padding: 0 0;
}
.blockquote {
    
}
}
  